@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

/* VARIABLES */
$unit-padding : 15px;

$white : #fff;

$brand-font: 'Sacramento', cursive;


/* NAVIGATION */
nav.navbar {
    background-color: #0000000f !important;
    font-family: serif;
    padding: 0 150px;
    
    a.navbar-brand {
        color: $white;
        font-family: $brand-font;
        font-size: 42px;
    }
    ul.navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 $unit-padding;
    }
        a.nav-link {
            color: $white !important;
            text-transform: uppercase;
        }

}
    